* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

/* -- Settings Bar -- */

#settings_bar {
  background-color: #272a31;
  display: none;
}

#settings_container {
  margin: auto;
  width: 80%;
}

#settings_bar ul {
  display: flex;
  color: #fff;
  list-style: none;
  justify-content: flex-end;
  font-size: 12px;
}

#settings_bar ul a {
  color: #fff;
  text-decoration: none;
}

#settings_bar ul li {
  padding: 8px;
}

/* -- Nav Bar -- */

#nav_bar {
  background-color: #f5f5f5;
  display: none;
}

#nav_bar_container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

#page_logo {
  display: flex;
}

#nav_bar ul {
  list-style: none;
  display: flex;
  width: 45%;
  font-size: 14px;
  text-align: center;
}

#nav_bar ul li {
  width: 20%;
  margin: auto;
}

#nav_bar ul li a {
  text-decoration: none;
  color: #000;
}

#campaing_btn {
  border: 5px solid #ec5242;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

#mobile_menu {
  background-color: #f5f5f5;
}

#burguer_container {
  width: 90%;
  margin: auto;
  padding: 15px 0 0 0;
}

#mobile_menu img {
  width: 30px;
  height: 30px;
}

#mobile_menu ul {
  display: none;
}

/* -- Welcome Section -- */

#welcome_section {
  background-color: #f5f5f5;
  padding: 35px 0;
}

#welcome_section article {
  width: 90%;
  margin: auto;
}

#title_intro {
  font-size: 5vw;
  color: #ec5242;
  margin: 0 auto 10px auto;
}

#welcome_section h1 {
  font-size: 8vw;
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 8vw;
  color: #ec5242;
}

#title_subtext {
  border: 2px solid #fff;
  padding: 15px;
  font-size: 3vw;
  margin: 20px auto;
}

#welcome_section h2 {
  font-size: 6vw;
  font-family: 'COCOGOOSE', sans-serif;
  color: darkslategrey;
}

#title_location {
  font-size: 3.5vw;
  margin: 5px auto;
}

/* -- Program Section -- */

#program_section {
  background-color: #272a31;
  padding: 30px 0;
}

#program_section article {
  width: 90%;
  margin: auto;
}

#program_section article h1 {
  color: #fff;
  font-size: 4.5vw;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ec5242;
}

#program_section article ul {
  width: 100%;
  margin-top: 30px;
}

#program_section article ul li {
  display: flex;
  background-color: #3c3f4680;
  margin: 10px 0;
  padding: 15px;
  align-items: center;
}

#program_section article ul li img {
  width: 30px;
  height: 30px;
}

#program_section article ul li h3 {
  color: #ec5242;
  padding: 0 25px;
  font-size: 4vw;
}

#program_section article ul li p {
  color: #fff;
  font-size: 3vw;
}

#full_program {
  display: none;
}

#join_btn {
  background-color: #ec5242;
  color: #fff;
  width: 80%;
  margin: 25px auto 0 auto;
}

#join_btn h2 {
  font-size: 4vw;
  text-align: center;
  padding: 25px 0;
}

/* -- Speakers Section -- */

/* -- Footer Section -- */

#partners_background {
  background-color: #272a31;
  padding: 45px 0;
}

#partners {
  color: #fff;
  width: 90%;
  margin: auto;
}

#partners h2 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ec5242;
  font-size: 5vw;
}

#partners ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px auto 0 auto;
}

#partners ul li {
  display: flex;
  padding: 10px 0;
}

#partners ul li img {
  width: 85px;
}

#copyright_background {
  background-color: #fff;
}

#copyright {
  width: 90%;
  display: flex;
  margin: 15px auto;
}

#copyright img {
  width: 45%;
  height: 75px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

#reserved_rights {
  width: 55%;
  font-size: 3.2vw;
  height: 75px;
  display: flex;
  align-items: center;
}
